/* Definição de cores */
:root {
    --primary-color: #001524;  /* Azul escuro */
    --secondary-color: #333333;  /* Verde escuro */
    --accent-color: #D6CC99;  /* Bege */
    --background-color: #E7E7E7;  /* Pêssego claro */
    --text-color: #333;  /* Cor do texto padrão */
}

/* Estilização geral */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 1rem;
}

nav a {
    margin: 0 1rem;
    color: var(--accent-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

h1, h2 {
    color: var(--secondary-color);
}

/* Estilo para as seções */
#bookCatalog, #faqSection, #upcomingPresentations {
    border: 2px solid var(--accent-color);
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--background-color);
}

/* Flexbox para FAQs e Próximas Palestras */
#faqAndPresentations {
    display: flex;
    justify-content: space-between;
}

#faqSection, #upcomingPresentations {
    width: 48%;  /* para dar um pouco de espaço entre eles */
}

/* Estilo para o rodapé */
footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 0.5rem;
    text-align: center;
}

/* Estilo para o hub de postagens */
.post {
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    margin: 1rem 0;
}

header h1 img {
    height: 96px;
    width: 96px;
}

/* Estilo para o carrossel */
.carousel {
    display: flex;
    overflow-x: scroll; /* Permite rolagem horizontal */
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    flex: 0 0 100%; /* Cada slide ocupa 100% da largura do carrossel */
    scroll-snap-align: start;
    text-align: center; /* Centraliza a imagem dentro do slide */
    position: relative; /* Posicionamento relativo para controlar os elementos internos */
}

.carousel-image {
    width: 80%; /* Largura completa do slide */
    height: 65%; /* Altura completa do slide */
    object-fit: fill; /* Estica a imagem para preencher o espaço */
}

#bookCarousel {
    justify-content: start; /* Alinha os slides ao início */
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
}

#videoPopup {
    position: fixed; /* Faz o popup cobrir toda a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#videoContainer {
    position: relative;
}

#closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: auto; /* ou um valor específico */
    height: auto; /* ou um valor específico */
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1001;

}

.ceo-profile {
            display: flex;
            align-items: center;
        }

.ceo-description {
            margin-left: 20px; /* Adicione margem entre a imagem e o texto */
        }

.ceo-profile img {
            width: 100px; /* Ajuste para o tamanho desejado da imagem */
            height: 150px; /* Ajuste para o tamanho desejado da imagem */
            margin-bottom: 10px; /* Adicione uma margem inferior de 10px */
        }

.whatsapp-widget {
    display: inline-block;
    background-color: #25D366; /* Cor verde do WhatsApp */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
}

.whatsapp-widget:hover {
    background-color: #128C7E; /* Um tom mais escuro para o hover */
}

.carousel-item {
    display: none;
}

.carousel-item:first-child {
    display: block;
}


